.Footer__container {
    width: 100% !important;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo__footer {
    margin: 20px;
    width: 250px;
    height: 40px;
}

.social__icon__footer {
    font-size: 2rem;
    margin: 20px;
    color: white;
}

.copyright {
    color: white;
    margin-top: 40px;
}