.landing {
    background-image: url('../../assets/images/home-page-img.png');
    min-height: calc(100vh - 72px);
}

.landing .btn {
    padding: 1rem 4rem;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/*  */
/*  */

.main-titale i {
    font-size: 5rem;
}

.main-titale::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder {
    height: 200px;

}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);

}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon {
    color: black;
}

.features h4 {
    color: yellow;
    font-weight: bold;
    font-size: 3rem;
}

/*  */
/*  */

.subscription {
    background-color: var(--section-color);
}

.s-feat1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/images/sup1.jpg);
    background-size: cover;
    height: 20rem;
}

.s-feat1 .btn {
    padding: 5px 15px;
}

.s-feata {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/images/sup2.png);
    background-size: cover;
    height: 20rem;
}

.s-featb {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/images/sup3.png);
    background-size: cover;
    height: 20rem;
}

.s-feat2 {
    padding: 40px;
    background-color: white;
    height: 32rem;
}

.s-feat2 h2 {
    margin-bottom: 5rem;
}

.s-feat2 p {
    margin-bottom: 2rem;
}

.s-feats {
    margin-bottom: 20px;
}

/*  */
/*  */


.a-feat1 h1 {
    font-weight: bold;
    font-size: 5rem;
    padding: 5rem;
}

.a-feat1 p {
    font-size: 3rem;
}

.aboutus-section {
    padding: 90px 0;
}

.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}



.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover,
a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}

.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}





.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}

.more_info_home {
    text-decoration: none !important;
}

/*  */
/*  */